@font-face {
  font-family: "FangYuanTiVF";
  src: url("./static/AlimamaFangYuanTiVF-Thin.woff2") format('woff2'),
      url("./static/AlimamaFangYuanTiVF-Thin.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --vs-primary: 26, 92, 255;
  --vs-theme-bg: #f4f7f8;
  --vs-theme-bg2: #eef2f5;
  --vs-theme-color: #2c3e50;
  --vs-theme-layout: #fff;
  --vs-theme-code: #3f3d56;
  --vs-theme-code2: #363449;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: var(--vs-theme-layout);
}

*::-webkit-scrollbar-thumb {
  background: var(--vs-theme-color);
  border-radius: 5px;
}

::selection {
  background: rgba(37, 100, 255, 0.15);
}

*{
  scroll-margin-top: 200px;
}

input {
  font-family: "FangYuanTiVF";
}

button {
  font-family: "FangYuanTiVF";
}

body {
  font-family: "FangYuanTiVF";
  margin: 0;
}

code{
  font-family: "FangYuanTiVF";
  font-weight: lighter;
  font-size: smaller;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--vs-theme-color);
}

.Layout{
  background-color: var(--vs-theme-bg2);
}

.page-docs-content-docs h1 {
  display: none;
}

.page-docs-content-docs h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.page-docs-content-docs p code {
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em !important;
  font-weight: bold;
  background-color: var(--vs-theme-bg2);
  border-radius: 3px;
  color: var(--vs-theme-color);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.04);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}