@font-face {
  font-family: "FangYuanTiVF";
  src:
    url("/font/AlimamaFangYuanTiVF-Thin.woff2") format("woff2"),
    url("/font/AlimamaFangYuanTiVF-Thin.woff") format("woff"),
    url("/font/AlimamaFangYuanTiVF-Thin.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --vs-theme-bg: #f4f7f8;
  --vs-theme-bg2: #eef2f5;
  --vs-theme-color: #2c3e50;
  --vs-theme-layout: #fff;
  --vs-theme-code: #3f3d56;
  --vs-theme-code2: #363449;
  --vs-theme-home-component-bg: #fff;

  &.dark {
    --vs-primary: 26, 92, 255;
    --vs-theme-bg: #292c33;
    --vs-theme-bg2: #343842;
    --vs-theme-color: #fff;
    --vs-theme-layout: #22252a;
    --vs-theme-code: #313136;
    --vs-theme-code2: #1e2023;
    --vs-theme-home-component-bg: #292c33;
  }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: var(--vs-theme-layout);
  z-index: 9999;
}

*::-webkit-scrollbar-thumb {
  background: var(--vs-theme-color);
  border-radius: 5px;
  z-index: 9999;
}

::selection {
  background: rgba(37, 100, 255, 0.15);
}

html {
  scroll-behavior: smooth;
  color: var(--vs-theme-color);
}

input,
button,
body {
  font-family: "FangYuanTiVF";
}

body {
  margin: 0;
}

div[class*="language-"] {
  background-color: var(--vs-theme-code);
  position: relative;
  border-radius: 12px 12px 20px 20px;

  pre {
    position: relative;
    margin: 0;
    padding: 20px;
    line-height: 1.6;

    .highlighted {
      position: relative;
      display: inline-block;
      width: 110%;
      background-color: hsla(0, 0%, 100%, 0.05);
      border-left: 6px solid hsla(0, 0%, 100%, 0.2);
    }
  }

  button {
    display: none;
  }

  &>span {
    position: absolute;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
    color: hsla(0, 0%, 100%, 0.4);
  }
}

code {
  font-family: "FangYuanTiVF";
  font-weight: lighter;
  font-size: smaller;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--vs-theme-color);
}

label {
  color: var(--vs-theme-color);

  &::before {
    background: var(--vs-theme-color) !important;
    opacity: 0.6;
  }
}

.layout {
  background-color: var(--vs-theme-bg2);
  position: relative;
  transition: background-color 0.25s ease;
}

.page-docs-content-docs {
  h1 {
    display: none;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;

    a {
      font-size: 0.85em;
      float: left;
      margin-left: -0.87em;
      padding-right: 0.23em;
      margin-top: 0.125em;

      &.header-anchor {
        &::before {
          content: "#";
          opacity: 0;
        }
      }
    }

    &:hover {
      a {
        &.header-anchor {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  >p {
    padding: 5px 20px;
    margin: 0px;
    font-size: 0.85rem;
    z-index: 0;
    position: relative;
    line-height: 1.7;
    color: var(--vs-theme-color);
  }

  ul {
    font-size: 0.85rem;
    color: var(--vs-theme-color);
  }

  p {
    code {
      padding: 0.25rem 0.5rem;
      margin: 0;
      font-size: 0.85em !important;
      font-weight: bold;
      background-color: var(--vs-theme-bg2);
      border-radius: 3px;
      color: var(--vs-theme-color);
      box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.04);
      transition: background-color 0.25s ease;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 15px 20px;
    margin: 0;
    border-bottom: 0px;
    padding-bottom: 10px;
    transition: all 0.25s ease;
    z-index: 0;
    position: relative;
    color: var(--vs-theme-color);
  }

  h2:hover {
    padding-left: 40px;
  }

  ul {
    margin-left: 40px;
    padding-left: 0px;

    li {
      p {
        padding-left: 5px !important;
      }
    }
  }

  &>img {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    display: block;
    border-radius: 20px;
  }

  h2 {
    scroll-margin-top: 300px;

    a {
      font-size: 0.85em;
      float: left;
      margin-left: -0.87em;
      padding-right: 0.23em;
      margin-top: 0.125em;

      &.header-anchor {
        &::before {
          content: "#";
          opacity: 0;
        }
      }
    }

    &:hover {
      a {
        &.header-anchor {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  .warning {
    a {
      text-decoration: underline;
    }
  }

  p {
    padding: 5px 20px;
    margin: 0px;
    font-size: 0.85rem;
    z-index: 0;
    position: relative;
    line-height: 1.7;
    color: var(--vs-theme-color);
  }

  ul {
    font-size: 0.85rem;
    color: var(--vs-theme-color);
  }

  .custom-block.tip {
    background-color: rgba(70, 201, 58, 0.04);
    border-color: #42b983;
    color: #2e825c;
  }

  .custom-block.warning {
    background-color: rgba(255, 186, 0, 0.09);
    border-color: #ffba00;
    color: #cc9500;
  }

  .custom-block.danger {
    background-color: rgba(255, 71, 87, 0.1);
    border-color: rgb(255, 71, 87);
    color: rgb(255, 71, 87);
  }

  .custom-block.tip,
  .custom-block.warning,
  .custom-block.danger {
    font-size: 0.85rem;
    padding: 0.1rem 1rem;
    border-left-width: 0.1rem;
    border-left-style: solid;
    margin: 1rem 0;
    position: relative;

    .custom-block-title {
      font-weight: 600;
    }

    p {
      font-weight: lighter;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.api {
  color: var(--vs-theme-color);

  .title {
    font-size: 1.5rem;
    padding: 15px 20px 10px 40px;
    margin: 0;
    border-bottom: 0px;
    transition: all 0.25s ease;
    z-index: 0;
    position: relative;
    color: var(--vs-theme-color);

    &:hover {
      padding-left: 59px;
    }
  }

  .content {
    padding: 0 25px 10px 25px;
    background-color: var(--vs-theme-layout);
    border-radius: 5px 20px 20px 5px;
    margin-top: 20px;

    .sub-title {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 25px 25px;
      margin: 0;
      padding-bottom: 15px;
      transition: all 0.25s ease;
      z-index: 0;
      position: relative;
      color: var(--vs-theme-color);
    }

    .table {
      margin-bottom: 25px;
    }

    .vs-table__thead {
      tr {
        th {
          background: var(--vs-theme-bg2) !important;
        }
      }
    }

    .vs-table__tbody {
      th {
        line-height: 20px;
        padding: 20px 12px;
      }

      tr {
        &:nth-child(2n) {
          background: var(--vs-theme-bg2) !important;
        }

        .vs-table__th:nth-child(2) {
          color: #e2777a !important;
        }

        .vs-table__th:nth-child(5) {
          color: #7ec699 !important;
        }

        .vs-table__th:nth-child(6) .vs-table__th__content {
          flex-direction: column;

          a {
            user-select: none;
            padding: 3px 10px;
            display: flex;
            align-items: center;
            transition: all 0.25s ease;
            cursor: pointer;
            border-radius: 18px;

            &:hover {
              background-color: var(--vs-theme-bg2);
              transition: all 0.25s ease;
            }
          }
        }

        .vs-table__th:nth-child(7) .vs-table__th__content {
          flex-direction: column;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            transition: all 0.25s ease;

            &:hover {
              background-color: #fe596715;
              transition: all 0.25s ease;
            }
          }
        }
      }
    }
  }
}