:root {
  // theme
  --vs-background: 255, 255, 255;
  --vs-text: 44, 62, 80;
  --vs-gray-1: 249, 252, 253;
  --vs-gray-2: 244, 247, 248;
  --vs-gray-3: 240, 243, 244;
  --vs-gray-4: 230, 233, 234;
}

[class*="--primary"] {
  --vs-color: var(--vs-primary);
}

[class*="--default"] {
  --vs-color: var(--vs-primary);
}

[class*="--danger"] {
  --vs-color: var(--vs-danger);
}

[class*="--success"] {
  --vs-color: var(--vs-success);
}

[class*="--dark"] {
  --vs-color: var(--vs-dark);
}

[class*="--warn"] {
  --vs-color: var(--vs-warn);
}