@media (max-width: 500px) {

	div[class*="language-"] pre,
	div[class*="language-"] pre[class*="language-"] {
		padding-left: 5px;
		padding-right: 5px;
	}

	.code .con-code {
		width: 100%;
		margin: 0px;
	}
}

.noti-code {
	position: fixed;
	bottom: 0px;
	width: 100%;
	max-width: 500px;
	background: var(--vs-theme-color);
	left: 50%;
	transform: translate(-50%, 100%);
	padding: 10px 20px;
	text-align: center;
	color: var(--vs-theme-layout);
	border-radius: 20px 20px 0px 0px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease;
	z-index: 50;
	i {
		position: absolute;
		left: 0px;
		top: 0px;
		font-size: 20px;
		width: 45px;
		height: 45px;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 20px 0px 0px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.copied {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, 0%);
	}
}

.footer-code {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
	color: #fff;
	cursor: pointer;
	transition: all 0.25s ease;

	&:hover {
		opacity: 0.4;
	}
}

.slot-all {
	&>div {
		&:nth-last-child(2) {
			pre {
				margin-bottom: 0px;
			}
		}

		&:last-child {
			div[class*="language-"] {
				border-radius: 0px 0px 20px 20px;

				pre {
					margin-bottom: 0px !important;
				}
			}
		}
	}
}

.con-codes {
	position: relative;
	width: 100%;
}

.slots {
	transition: all 0.25s ease;
	width: 100%;
	overflow: hidden;
	top: 0px;
	left: 0px;
	padding-top: 20px;
}

.ul-codes {
	// width: 100%;
	height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 20px;
	margin: 0px;
}

.code {
	background: var(--vs-theme-layout);
	z-index: 300;
	position: relative;
	padding-bottom: 10px;
	transition: all 0.25s ease;
}

.input-transparent {
	position: absolute;
	z-index: 0;
	opacity: 0;
	bottom: 0px;
	right: 0px;
}

.con-code {
	display: block;
	transition: all 0.25s ease;
	background: var(--vs-theme-code2);
	border-radius: 20px;
	width: calc(100% - 20px);
	margin: 0px 10px;
	overflow: hidden;
	div[class*="language-"] {
		border-radius: 0px;
	}

	pre {
		margin-top: 0px !important;
	}
}

.header-codex {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	ul {
		display: flex;
		align-items: center;
		margin: 0px;
		padding: 0px;
		justify-content: center;
		width: 100%;
		padding: 0px 4px;
		align-items: stretch;
		padding-top: 10px;

		li {
			list-style: none;
			color: var(--vs-theme-color);
			opacity: 0.6;
			padding: 3px 10px;
			transition: all 0.25s ease;
			display: flex;
			align-items: center;
			cursor: pointer;
			border-radius: 12px;
			background: transparent;
			outline: none !important;

			&.copied {
				transform: scale(1.3);
				opacity: 1 !important;

				i {
					color: #46c93a !important;
				}
			}

			&:nth-last-child(3) {
				position: relative;
				padding-right: 15px;
				margin-right: 5px;
			}

			&:nth-last-child(3):after {
				content: '';
				position: absolute;
				right: 0px;
				height: 60%;
				top: 20%;
				width: 1px;
				display: block;
			}

			&.active {
				color: #2564ff !important;
				opacity: 1;
				border-radius: 12px 12px 0px 0px;
				background: var(--vs-theme-code2);

				i {
					color: #fff !important;
				}
			}

			&:hover {
				opacity: 1;
			}

			&:not(.not-a) {
				svg {
					transition: all 0.25s ease;
					pointer-events: none;
				}
			}
		}
	}
}

.header-codex ul li svg,
.header-codex ul li i {
	max-width: 18px;
	fill: var(--vs-theme-color) !important;
}

.con-codes {
	div[class*=language-] {
		background-color: var(--vs-theme-code);
		position: relative;
		pre {
			position: relative;
			margin: 0;
			padding: 20px;
			line-height: 1.6;

			.highlighted {
				position: relative;
				display: inline-block;
				width: 110%;
				background-color: hsla(0, 0%, 100%, .05);
				border-left: 6px solid hsla(0, 0%, 100%, .2);
			}
		}

		button {
			display: none;
		}

		&>span {
			position: absolute;
			top: .8em;
			right: 1em;
			font-size: .75rem;
			color: hsla(0, 0%, 100%, .4);
		}
	}
}
