.right-sidebar{
    position: sticky;
    transform: translateY(-30px);
    background: transparent;
    width: 150px;
    top:110px;
    z-index: 10;
    .right-link{
        position: relative;
        display: block;
        text-align: right;
        line-height: 1.7;
        font-size: .8rem;
        padding: 3px 35px 3px 3px;
        opacity: .6;
        max-width: 185px;
        transition: all .25s ease;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover{
            opacity: 1;
        }
        &::after{
            content: "";
            display: block;
            border-radius: 100%;
            width: 5px;
            height: 5px;
            background-color: rgb(var(--vs-primary));
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0,-50%);
            z-index: 999;
            opacity: 0;
            transition: all 0.2s ease-out;
        }
        &.active{
            opacity: 1;
            color: rgba(var(--vs-primary),1);
            &::after{
                content: "";
                width: 5px;
                height: 5px;
                transform: translate(-20px,-50%);
                opacity: 1;
            }
        }
    }
}