.card {
	border-radius: 20px;
	overflow: hidden;
	margin: 0px 0px 100px 0px;
	width: 100%;
	&:last-of-type {
		margin-bottom: 0px;
	}
	& > .text {
		ul {
			margin-left: 40px;
			padding-left: 0px;
			li {
				p {
					padding-left: 5px !important;
				}
			}
		}
	}
	.text {
		& > img {
			width: 100%;
			max-width: 600px;
			margin: auto;
			margin-top: 10px;
			display: block;
			border-radius: 20px;
		}
		h2 {
			scroll-margin-top: 300px;
			a {
				font-size: 0.85em;
				float: left;
				margin-left: -0.87em;
				padding-right: 0.23em;
				margin-top: 0.125em;
				&.header-anchor {
					&::before {
						content: "#";
						opacity: 0;
					}
				}
			}
			&:hover {
				a {
					&.header-anchor {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
		.warning {
			a {
				text-decoration: underline;
			}
		}
		>p {
			padding: 5px 20px;
			margin: 0px;
			font-size: 0.85rem;
			z-index: 0;
			position: relative;
			line-height: 1.7;
			color: var(--vs-theme-color);
		}
		ul {
			font-size: 0.85rem;
			color: var(--vs-theme-color);
		}
		.custom-block.tip{
			background-color: rgba(70,201,58,.04);
    		border-color: #42b983;
    		color: #2e825c;
		}
		.custom-block.warning{
			background-color: rgba(255,186,0,.09);
    		border-color: #ffba00;
    		color: #cc9500;
		}
		.custom-block.danger{
			background-color: rgba(255,71,87,.1);
    		border-color: rgb(255,71,87);
    		color: rgb(255,71,87);
		}

		.custom-block.tip,
		.custom-block.warning,
		.custom-block.danger{
			font-size: .85rem;
			padding: .1rem 1rem;
			border-left-width: .1rem;
			border-left-style: solid;
			margin: 1rem 0;
			position: relative;
			.custom-block-title{
				font-weight: 600;
			}
			p{
				font-weight: lighter;
			}
		}
	}
	.example {
		position: relative;
		z-index: 0;
		padding: 10px;
		margin: auto;
		margin-top: 10px;
		border-radius: 5px 20px 0px 0px;
		border-bottom: 0px solid rgba(0, 0, 0, 0.03);
		background: var(--vs-theme-layout);
		position: relative;
		overflow: hidden;
		transition: all 0.25s ease;
		height: auto;
		z-index: 0;
		&:after {
			transition: all 0.25s ease;
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			border: 8px solid var(--vs-theme-bg2);
			box-sizing: border-box;
			top: 0px;
			left: 0px;
			border-radius: 25px;
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
		}
		&:before {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			width: 60px;
			height: 25px;
			content: "";
			position: absolute;
			background: var(--vs-theme-bg2);
			box-sizing: border-box;
			top: 0px;
			left: 50%;
			transform: translate(-50%);
			border-radius: 0px 0px 8px 8px;
			transition: all 0.25s ease;
		}
		&.mobile {
			width: 260px;
			height: 520px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			border-radius: 25px;
			padding: 30px 20px;
			overflow: auto;
			&:after {
				opacity: 1;
				visibility: visible;
			}
			&:before {
				opacity: 1;
				visibility: visible;
			}
			& ~ .slotcode {
				.code {
					border-radius: 20px;
					background: transparent;
				}
			}
		}
	}
}
.slotcode {
	position: relative;
	z-index: 0;
}
.card .text h2,
.card .text h3,
.card .text h4,
.card .text h5,
.card .text h6 {
	padding: 15px 20px;
	margin: 0;
	border-bottom: 0px;
	padding-bottom: 10px;
	transition: all 0.25s ease;
	z-index: 0;
	position: relative;
	color: var(--vs-theme-color);
}
.card .text h2:hover,
.card .text h3:hover,
.card .text h4:hover,
.card .text h5:hover,
.card .text h6:hover {
	padding-left: 40px;
}

@media (max-width: 500px) {
    .card .text {
      padding: 10px;
      h2{
        font-size: 1.3rem;
        padding-top: 80px;
        padding-left: 10px;
        padding-bottom: 0px;
      }
      p{
        padding-left: 10px;
        padding-top: 10px;
      }
    }
  }