.VSContent{
    position: relative;
    right: 0px;
    width:100%;
    transition: all .25s ease;
    &.is-docs{
        width:calc(100% - 260px) ;
        position: relative;
        right: -260px;
        transition: all .25s ease;
        &.edge {
            right: 0px;
            width:100%;
            transition: all .25s ease;
        }
    }
}
