.avatar-card{
    position: absolute;
    top: 170px;
    left: 0px;
    display: flex;
    padding: 8px 10px;
    border-radius: 28px;
    color: var(--vs-theme-color);
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.08);
    transition: all .25s ease;
    animation: float 8s ease-in-out infinite alternate;
    .content{
        margin: 4px 0 0 10px;
        width: 210px;
        h6{
            margin: 0 0 4px 0;
        }
        p{
            margin: 0 0 4px 0;
            font-size: .3rem;
            line-height: 20px;
            transform: scale(.75) translate(-35px,-5px);
        }
        .button-box{
            position: absolute;
            display: flex;
            justify-content: space-around;
            width: 180px;
            bottom: -16px;
            button{
                font-size: 12px;
                width: 100%;
            }
        }
    }
    &:hover{
        box-shadow: 0 0 0 0 rgba(0,0,0,.08);
    }
}

.check-card{
    position: absolute;
    left: 0px;
    top: 330px;
    width:240px;
    padding:20px 15px 15px 15px;
    border-radius: 25px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.04);
    animation: float 8s ease-in-out 2s infinite alternate;
    background-color: var(--vs-theme-home-component-bg);
    transition: all .25s ease;
    color: var(--vs-theme-color);
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .check-input{
            input{
                background-color: var(--vs-theme-bg2);
                color:var(--vs-theme-color)
            }
        }
        button{
            transform: scale(.9);
            width: 35px;
            margin: 0;
        }
    }
    .content{
        margin: 6px 0 0 0;
        padding: 10px 0px;
        .vs-checkbox-content{
            transform: scale(.8) translateX(-25px);
        }
    }
    &:hover{
        box-shadow: 0 0 0 0 rgba(0,0,0,.08);
    }
}

.search-card{
    position: absolute;
    top: 630px;
    left: 40px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.04);
    animation: float 8s ease-in-out 1.5s infinite alternate;
}

.select-card{
    position: absolute;
    top: 690px;
    left: 120px;
    scale: .8;
    animation: float 8s ease-in-out .5s infinite alternate;
    input{
        background-color: var(--vs-theme-bg);
        &:hover{
            background-color: var(--vs-theme-home-component-bg);
        }
    }
    .vs-select {
        &.show-options{
            input{
                background-color: var(--vs-theme-home-component-bg);
            }
        }
    }
}

.bottom-card{
    position: absolute;
    padding:15px ;
    border-radius: 25px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.04);
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scale: .8;
    top: 620px;
    left: 330px;
    background-color: var(--vs-theme-home-component-bg);
    transition: all .25s ease;
    animation: float 8s ease-in-out 2.3s infinite alternate;
    button{
        border-radius: 13px;
    }
    &:hover{
        box-shadow: 0 0 0 0 rgba(0,0,0,.08);
    }

}

.home-card{
    position: absolute;
    scale: .65;
    top: 250px;
    left: 250px;
    transition: all .25s ease;
    animation: float 8s ease-in-out 1.3s infinite alternate;
    .vs-card{
        background-color: var(--vs-theme-home-component-bg);
        .vs-card__text{
            transition: all .25s ease;
            color:var(--vs-theme-color);
            .vs-card__title{
                margin-top: 8px;
            }
            .content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .vs-avatar__group{
                    scale: 1.2;
                }
            }
        }
    }
}

.switch-card{
    position: absolute;
    display: flex;
    width: 150px;
    justify-content: space-between;
    top: 190px;
    left: 360px;
    padding: 8px 10px;
    border-radius: 28px;
    background-color: var(--vs-theme-home-component-bg);
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.08);
    animation: float 8s ease-in-out 2.6s infinite alternate;
    transition: all .25s ease;
    &:hover{
        box-shadow: 0 0 0 0 rgba(0,0,0,.08);
    }
}

.loading-card1{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 200px;
    right: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.08);
    animation: float 8s ease-in-out 2.6s infinite alternate;
    padding: 8px 10px;
    border-radius: 28px;
    transition: all .25s ease;
    &:hover{
        box-shadow: 0 0 0 0 rgba(0,0,0,.08);
        transition: all .25s ease;
    }
    .vs-loading{
        background-color: var(--vs-theme-home-component-bg);
    }

}

.loading-card2{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 350px;
    right: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.08);
    animation: float 8s ease-in-out 2.6s infinite alternate;
    padding: 8px 10px;
    border-radius: 28px;
    transition: all .25s ease;
    &:hover{
        box-shadow: 0 0 0 0 rgba(0,0,0,.08);
        transition: all .25s ease;
    }
    .vs-loading{
        background-color: var(--vs-theme-home-component-bg);
    }

}

.custom-card{
    position: absolute;
    top: 550px;
    right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.08);
    animation: float 8s ease-in-out 2.6s infinite alternate;
    padding: 8px 10px;
    border-radius: 28px;
    background-color: var(--vs-theme-home-component-bg);
    transition: all .25s ease;
    h6{
        transition: all .25s ease;
        color: var(--vs-theme-color);
        margin: 15px 0 10px 0;
    }
    button{
        width: 100%;
    }
    &:hover{
        box-shadow: 0 0 0 0 rgba(0,0,0,.08);
    }
}

@keyframes float
{
    50% { transform: translateY(-8px); }
    100% { transform: translateY(8px);}
}

.vs-select__options{
    background-color: var(--vs-theme-home-component-bg);
    .vs-select__options__content{
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        .vs-select__option{
            width: max-content;
            padding: 4px;
            margin: 0;
            scale: .8;
            &:hover{
                scale: 1.2;
                padding: 4px;
            }
        }
    }
}

