$color_1: var(--vs-theme-color);

h1 {
	font-weight: normal;
	color: $color_1;
}

a {
	text-decoration: underline;
	color: $color_1;
}

.page {
	width: 100%;
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-part {
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.title-content {
		max-width: 400px;
		color: $color_1;
	}

	.tagline {
		color: $color_1;
		width: 400px;
		margin: 5px 0 25px 0;
	}

	.button-content {
		width: 400px;
		display: flex;
		align-items: center;
		justify-content: start;

		button:nth-child(1) {
			border-radius: 17px;
			margin: 0 10px 0 0;

			div {
				padding: 14.9px 30px;
			}

			.bx {
				font-size: 1.5rem;
			}
		}

		button:nth-child(2) {
			border-radius: 17px;
			margin: 0 10px 0 0;
			.bx {
				font-size: 1.5rem;
			}
		}

		.icon-button {
			border-radius: 16px;
			margin: 0;

			div {
				padding: 12.7px;
			}

			.bx {
				font-size: 1.3rem;
			}
		}

	}
}

.features-part {
	width: 50%;
	height: 100vh;
	position: relative;
}

@keyframes float {
    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(8px);
    }
}


@media (max-width: 1150px) {
	.features-part {
		transform: scale(0.7);
	}
}
@media (max-width: 960px) {
	.page {
		width: 100%;
		.features-part {
			transform: scale(0.7);
			left: -7%;
			right: auto;
			bottom: 0px;
			width: 100% !important;
			margin-top: 250px;
			left: -12%;
		}
	}
}
@media (max-width: 760px) {
	.page {
		display: none;
		.features-part {
			left: -18%;
		}
	}
}
@media (max-width: 470px) {
	.page {
		.features-part {
			margin-top: 280px;
			transform: scale(0.6);
			left: -25%;
		}
	}
}