.nav-links-content {
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 0.9rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        opacity: 0;
        background-color: white;
        width: 200px;
        transform: translateY(25px);
        border-radius: 7px 20px 20px 20px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        box-shadow: 0 10px 20px -10px rgba(0,0,0,.1);
        transition: all 0.15s ease;
        transition-delay: 0.15s;
        visibility: hidden;
        .item-title:first-child{
            margin-top: 0;
        }
        &.menu-open{
            opacity: 1;
            transform: translateY(35px);
            transition: all 0.25s ease-out;
            transition-delay: 0.1s;
            visibility:visible;
        }
        .item-link{
            padding: 6px 25px ;
            opacity: 0.6;
            transition: all 0.2s ease-out;
            &::before{
                content:"";
                display: block;
                position: absolute;
                background-color: rgb(var(--vs-primary));
                border-radius: 100%;
                width: 5px;
                height:5px;
                left:-1%;
                transform: translate(0px,6px);
                opacity: 0;
                transition: all 0.2s ease-out;
            }
            &.actived{
                opacity: 1;
                color:rgba(var(--vs-primary), 1);
                &::before{
                    content:"";
                    display: block;
                    position: absolute;
                    border-radius: 100%;
                    width: 5px;
                    height:5px;
                    left:5.5%;
                    transform: translateY(6px);
                    opacity: 1;
                    transition: all 0.2s ease-out;
                }
            }
        }
        .item-link:hover{
            opacity: 1;
            color:rgba(var(--vs-primary), 1);
            transition: all 0.2s ease-out;
        }
        .item-title{
            cursor: default;
            padding: 3px 25px ;
            margin: 10px 0 0 0;
            color: var(--vs-theme-color);
        }
    }
    .nav-items{
        .nav-link{
            height: 100%;
            opacity: 0.6;
            transition: all 0.2s ease-out;
            padding: 18px 18px;
            &.selected{
                opacity: 1;
                color: rgba(var(--vs-primary), 1);
            }
            i{
                transition: all 0.2s ease-out;
                transition-delay: 0.15s;
                &.opened{
                    transform: rotateZ(180deg);
                    transition: all 0.2s ease-out;
                    transition-delay: 0.1s;
                }
            }
        }
           
    }
    .nav-items:hover{
        .nav-link{
            opacity: 1;
            transition: all 0.2s ease-out;
        }
    }
    .nav-item{
        .nav-link{
            height: 100%;
            opacity: 0.6;
            transition: all 0.2s ease-out;
            padding: 18px 18px;
        }
        .nav-link:hover{
            opacity: 1;
        }
    }
}