.logo-nav {
	fill: var(--vs-theme-color);
	height: 28px;
}
.home-link {
	position: absolute;
	left: 0px;
	font-weight: bold;
	padding-left: 30px;
	position: relative;
	padding-left: 0px;
	padding-right: 20px;
	.logo-nav {
		height: 24px;
	}
}