
.Nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	position: fixed;
	background-color: var(--vs-theme-layout);
	top: 0px;
	z-index: 10;
	transition: background-color .25s ease;
	a{
		font-weight: 700;
	}
}
